.not-found__wrapper {
  margin: auto;
  text-align: center;
  min-height: calc(100vh - 209px);
}

.not-found__wrapper h1 {
  font-weight: 700;
  font-size: 6rem;
}

.not-found__wrapper p {
  margin: auto;
  width: 260px;
  font-size: 18px;
  line-height: 1.6rem;
}

.not-found__link {
  display: flex;
  font-size: 0.875rem;
  width: fit-content;
  margin: 8.313rem auto 0;
}

@media screen and (min-width: 768px){
  .not-found__wrapper h1 {
    font-weight: 700;
    font-size: 18rem;
    margin: 10vh;
  }

  .not-found__wrapper p {
    font-size: 2.25rem;
    width: auto;
    line-height: 140%;
  }

  .not-found__link {
    font-size: 1.125rem;
  }
}