.flex {
  display: flex;
}

.owner-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.rent-wrapper {
  width: 90%;
  margin: auto;
  min-height: calc(100vh - 209px);
}

.carrousel-img {
  object-fit: cover;
  width: 335px;
  height: 255px;
  border-radius: 10px;
}

.rent-title {
  font-size: 18px;
  font-weight: 500;
}

.rent-location {
  font-size: 14px;
  font-weight: 500;
}

.rent-owner__wrapper {
  display: flex;
  height: 2rem;
  justify-content: space-between;
}

.owner {
  font-size: 12px;
  align-self: center;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .rent-title {
    font-size: 36px;
  }

  .rent-location {
    font-size: 18px;
  }

  .container {
    display: flex;
  }

  .rent-owner__wrapper {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
  }

  .owner {
    font-size: 18px;
  }

  .owner-img {
    width: 64px;
    height: 64px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }
}
