.header {
  outline: 1px solid red;
  width: 90%;
  margin: auto;
  display: flex;
  /*justify-content: space-between;*/
}

.header-logo {
  /*height: 100px;*/
  /*width: 100px;*/
  height: 47px;
  width: 145px;
}

img {
  /*border: 3px solid blue;*/
  height: 47px;
  width: 145px;
  background-image: url("../../assets/img/img.png");
  background-repeat: no-repeat;
}

.header-nav {
  width: 100%;
  display: flex;
}

.header-nav > ul {
  display: flex;
  list-style: none;
  margin-left: auto;
}

.header-nav__item {
  padding: 0 0 0 1rem;
  text-transform: uppercase;
  font-size: 12px;
}

.header-nav__item > a {
  color: #FF6060;
  text-decoration: none;
}