@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

:root {
  --orange: #FF6060;
  --white: #FFFFFF;
  --lightGray: #F7F7F7;
}

* {
  box-sizing: border-box;
  color: #FF6060;
}

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}
