.tag {
  background-color: var(--orange);
  color: var(--white);
  border-radius: 5px;
  min-width: 60px;
  padding: 6px 12px;
  font-size: 10px;
  text-align: center;
  display: inline-block;
  margin: 0 1em 0 0;
}

@media screen and (min-width: 768px) {
  .tag {
    font-size: 14px;
    min-width: 115px;
    border-radius: 10px;
  }
}